body {
  background-color: rgb(149, 175, 236);
  color: black;
  font-family: 'JetBrains Mono', 'Cascadia Code', 'Source Code Pro';
  margin: 20px;
  font-size: 18px;
}

details p,
h3 {
  margin: 10px;
  padding-left: 10px;
  list-style-type: disc;
  /* text-align: center; */
}

button {
  padding: 10px;
  border-radius: 15%;
  background-color: rgb(207, 228, 230);
  color: black;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
}

details li {
  margin-left: 20px;
}

img {
  margin-left: 20px;
  width: 90%;
  text-align: center;
}

details summary {
  font-weight: bolder;
}

p {
  text-align: justify;
}