body {
  background-color: rgb(41, 40, 40);
  color: white;
  font-family: 'JetBrains Mono', 'Cascadia Code', 'Source Code Pro', monospace;
  margin: 20px;
  font-size: 18px;
}

h3.certificados {
  margin: 10px;
  padding-left: 10px;
  list-style-type: disc;
  /* text-align: center; */
}

button {
  padding: 10px;
  background-color: rgb(207, 228, 230);
  color: black;
  margin: 5px;
  border-radius: 5px;
}

a {
  color: white;
  /* text-decoration: none; */
}

button a {
  color: black;
}

details li {
  margin-left: 20px;
}

img {
  margin-left: 20px;
  width: 90%;
  text-align: center;
}

details summary {
  font-weight: bolder;
}

p {
  text-align: justify;
}